body{
    margin:0;
    overflow-x:hidden;
}

*{
    box-sizing: border-box;
}
.container{
    max-width:1140px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    marin-left:auto;
}
.containerForm{
    display:flex;
    flex-direction: row;
    place-content:center space-between;
    align-items:center;
    width:100%;
}
form{
    flex-direction: column;
    display: flex;
    place-content: center space-between;
    align-items: center;
}
.footer{
    margin-top: 7%;
    margin-bottom: 1%;
    background: #d9d9d9;
    padding:4px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color: #606a76;
    transition:0.5s;
}

.footer .row a:hover{
    color: #0b4269;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
}
#note {
    background-color: #d9d9d9;
    border: none;
    width: 400px;
    color: #b9b6b6;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin: 18px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif
}
.form-control {
    background-color: #d9d9d9;
    width: 170px;
    padding: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    margin: 14px 2px;
    border-radius: 9px;
    border: none;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin-top: 10%;
    margin-bottom: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.form-submit-button {
    background: #B9DFFF;
    color: #3d3c3c;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 30px;
    width: 10%;
    font-family: 'Montserrat', sans-serif;
}

.form-submit-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
}
.form-delete-button {
    background: #B9DFFF;
    color: #3d3c3c;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 30px;
    width: 10%;
    font-family: 'Montserrat', sans-serif;
}

.form-delete-button:hover {
    background: rgba(248, 101, 101, 0.98);
    color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
}
.format {
    text-align: center;
}
.button-div {
    margin-top: 5%;
    text-align: center;
}