<div th:fragment="footer" >
    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-telegram"></i></a>
            </div>

<!--            <div class="row">-->
<!--                <ul>-->
<!--                    <li><a href="#">Contact us</a></li>-->
<!--                    <li><a href="#">Our Services</a></li>-->
<!--                    <li><a href="#">Privacy Policy</a></li>-->
<!--                    <li><a href="#">Terms & Conditions</a></li>-->
<!--                    <li><a href="#">Career</a></li>-->
<!--                </ul>-->
<!--            </div>-->

            <div class="row">
                © 2023 Shelter || Powered By: <a href="#">Kuschevoy</a>
            </div>
        </div>
    </footer>
</div>