<div th:fragment="header">
    <header>
        <div class="header">
            <div class="containerLogo">
                <div class="logo">
                    <a href="https://spivdiia.org.ua"><img alt="This is logo" th:src="@{/img/logo.png}"></a>
                </div>
                <div class="text-header">
                    <span><a class="main-text" href="#">Головна</a></span> |
                    <span><a class="main-text" href="#">Допомога</a></span>
                </div>
                <div class="menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
</div>