<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container">
    <div class="containerSearch">
        <div class="buttonSearch" >
            <button form="searchForm" type="submit">Пошук</button>
        </div>
        <form  id="searchForm" method="post" action="#" th:action="@{/roomers}" th:object="${roomers}" >
            <input class="inputSearch" id="secondName" th:field="*{secondName}" placeholder="Введіть прізвище"><br>
            <p th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}" style="color: red; border-radius: 5px;border: 1px solid red; padding: 5px; width: 35%"></p>
        </form>
    </div>
</div>
<div class="container">
    <div class="containerForm">
        <div class="leftButton">
            <button type="submit">Лист мешканців</button>
        </div>
        <div class="containerHref">
            <div th:each="roomers:${list}">
                <a th:href="@{'/roomers/' +  ${roomers.id}}" id="note">
                    <span th:text="${roomers.secondName}"></span>
                    <span th:text="${roomers.firstName}"></span>
                    <span th:text="${roomers.surname}"></span> |
                    <span th:text="'кім: ' + ${roomers.roomNumber}"></span>
                </a>
            </div>
        </div>
        <div class="rightButtons">
            <button type="submit">Усі</button>
            <button type="submit">Мешканці</button>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
<script src="https://use.fontawesome.com/4167c909a6.js"></script>
</body>
</html>